---
import Base from '../layouts/BaseLayout.astro'
---
<Base title="Contacto" description='¿Tienes preguntas? Contáctanos para recibir información sobre nuestra institución educativa. Formamos líderes con habilidades y valores para trascender en la sociedad.' url='/contacto'>
<section>
    <h3>CONTÁCTANOS</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat numquam eaque inventore dolor doloremque qui optio, odio, consequuntur atque ipsum esse rem laborum beatae voluptas saepe iste quaerat dolorem! Pariatur!</p>
    <div>
        <div>
            <h4>Visita el colegio</h4>
            <h5>DIRECCIÓN</h5>
            <p>
                Sede Principal: Calle 8 # 12-37 <br/>
                Sede República del brasil: Calle 13 # 14-39 <br/>
                Sede Gabriela Mistral A: Carrera 11A # 7-30 <br/>
                Sede Gabriela Mistral B: Carrera 11 # 8-37<br/>
                250252 Zipaquirá, Cundinamarca, Colombia
            </p>
            <h5>INFORMACIÓN</h5>
            <p>Para información o preguntas:</p>
            <h5>POR E-MAIL</h5>
            <p>info@liceointegrado.edu.co</p>
            <h5>BIBLIOTECA</h5>
            <p>Para información o preguntas:</p>
            <h5>POR E-MAIL</h5>
            <p>blanca.pastrana@liceointegrado.edu.co</p>
            <h5>HORARIO DE ATENCIÓN</h5>
            <p>Durante periodo escolar todos los lunes</p>
        </div>
        <div>
            <img src="https://images.pexels.com/photos/1416530/pexels-photo-1416530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="contact" style="width: 350px">
        </div>
        <div>
            <h4>TRÁMITES</h4>
            <h5>SECRETARÍA</h5>
            <p>Para información o preguntas:</p>
            <h5>POR E-MAIL</h5>
            <p>
                secretaria@liceointegrado.edu.co<br/>
                milena.rocha.arevalo@liceointegrado.edu.co<br/>
                liceo_integrado1@yohoo.es
            </p>
            <h5>AL TELÉFONO</h5>
            <p>(601) 8816819</p>
            <h5>HORARIO DE ATENCIÓN</h5>
            <p>Durante el periodo escolar:</p>
            <p>Lunes</p>
            <p>6:00 - 9:30 10:15 - 13:00</p>
            <p>Jueves y Viernes</p>
            <p>6:00 - 9:30 10:15 - 13:00 14:00 - 17:00</p>
            <h5>PAGADURÍA</h5>
            <p>Para información o preguntas:</p>
            <h5>POR E-MAIL</h5>
            <p>maria.montano@liceointegrado.edu.co</p>
            <h5>HORARIO DE ATENCIÓN</h5>
            <p>Durante el periodo escolar todos los lunes</p>
        </div>
        <div>
            <img src="https://images.pexels.com/photos/33488/navigation-car-drive-road.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="dirección" style="width: 350px">
        </div>
    </div>
</section>
</Base> 