---
import Base from '../layouts/BaseLayout.astro'
---
<Base title="Contacto" description='¿Tienes preguntas? Contáctanos para recibir información sobre nuestra institución educativa. Formamos líderes con habilidades y valores para trascender en la sociedad.' url='/contacto'>
<section>
    <div class="flex flex-col justify-center items-center h-80 p-10 gap-5 text-center text-blue-950">
        <h3 class="text-3xl md:text-4xl">CONTÁCTANOS</h3>
        <p class="font-light md:w-1/2"> classLorem ipsum dolor sit amet consectetur adipisicing elit. Placeat numquam eaque inventore dolor doloremque qui optio, odio, consequuntur atque ipsum esse rem laborum beatae voluptas saepe iste quaerat dolorem! Pariatur!</p>
    </div>
    <div class="flex flex-col justify-center items-center mb-10">
        <div class="md:grid md:grid-cols-2 md:w-[90%]">
            <div class="bg-[url(https://images.pexels.com/photos/1416530/pexels-photo-1416530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)] bg-cover w-full h-80 md:h-auto"></div>
            <div class="flex flex-col justify-center items-center bg-blue-950 min-h-[20rem] p-10 text-center text-white gap-5">
                <h4 class="text-3xl text-blue-400">Visita el colegio</h4>
                <h5 class="text-2xl text-blue-400">DIRECCIÓN</h5>
                <p class="font-light">
                    Sede Principal: Calle 8 # 12-37 <br/>
                    Sede República del brasil: Calle 13 # 14-39 <br/>
                    Sede Gabriela Mistral A: Carrera 11A # 7-30 <br/>
                    Sede Gabriela Mistral B: Carrera 11 # 8-37<br/>
                    250252 Zipaquirá, Cundinamarca, Colombia
                </p>
                <h5 class="text-2xl text-blue-400">INFORMACIÓN</h5>
                <p>Para información o preguntas:</p>
                <h5 class="text-2xl text-blue-400">POR E-MAIL</h5>
                <p>info@liceointegrado.edu.co</p>
                <h5 class="text-2xl text-blue-400">BIBLIOTECA</h5>
                <p>Para información o preguntas:</p>
                <h5 class="text-2xl text-blue-400">POR E-MAIL</h5>
                <p>blanca.pastrana@liceointegrado.edu.co</p>
                <h5 class="text-2xl text-blue-400">HORARIO DE ATENCIÓN</h5>
                <p>Durante periodo escolar todos los lunes</p>
            </div>
            <div class="bg-[url(https://images.pexels.com/photos/33488/navigation-car-drive-road.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)] bg-cover w-full h-80 md:h-auto">
            </div>
            <div class="flex flex-col justify-center items-center min-h-[20rem] p-10 text-center text-blue-950 gap-5 mb-10">
                <h4 class="text-3xl">TRÁMITES</h4>
                <h5 class="text-2xl">SECRETARÍA</h5>
                <p class="font-light">Para información o preguntas:</p>
                <h5 class="text-2xl">POR E-MAIL</h5>
                <p class="font-light">
                    secretaria@liceointegrado.edu.co<br/>
                    milena.rocha.arevalo@liceointegrado.edu.co<br/>
                    liceo_integrado1@yohoo.es
                </p>
                <h5 class="text-2xl">AL TELÉFONO</h5>
                <p class="font-light">(601) 8816819</p>
                <h5 class="text-2xl">HORARIO DE ATENCIÓN</h5>
                <p class="font-light">Durante el periodo escolar:</p>
                <p class="font-light">Lunes</p>
                <p class="font-light">6:00 - 9:30 10:15 - 13:00</p>
                <p class="font-light">Jueves y Viernes</p>
                <p class="font-light">6:00 - 9:30 10:15 - 13:00 14:00 - 17:00</p>
                <h5 class="text-2xl">PAGADURÍA</h5>
                <p class="font-light">Para información o preguntas:</p>
                <h5 class="text-2xl">POR E-MAIL</h5>
                <p class="font-light">maria.montano@liceointegrado.edu.co</p>
                <h5 class="text-2xl">HORARIO DE ATENCIÓN</h5>
                <p class="font-light">Durante el periodo escolar todos los lunes</p>
            </div>
        </div>
    </div>
</section>
</Base> 