---
import Base from '../layouts/BaseLayout.astro'
import Table from '../components/Table-parents.astro'
---
<Base title='Padres' description='Recibe información sobre la educación de tus hijos y los horarios de atención de los profesores. Formamos líderes con habilidades y valores para trascender en la sociedad.' url='/padres'>
    <section>
        <h3>PARA LOS PADRES</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, blanditiis. Aliquid fugit maxime ratione possimus autem cum, ipsum at veniam explicabo nobis? Exercitationem, vero reprehenderit itaque voluptatum eius consequuntur? Veniam?</p>
        <div>
            <table>
                <caption>Horario de atención a Padres</caption>
                <Table/>
            </table>
        </div>
    </section>
</Base>