<tr>
    <td>15</td>
    <td>801</td>
    <td>4</td>
    <td>Marta Isabel Gomez Caro</td>
    <td>Miercoles 8:50 a.m a 9:45 a.m</td>
</tr>
<tr>
    <td>16</td>
    <td>802</td>
    <td>14</td>
    <td>Claudia Patricia Baranza Rincón</td>
    <td>Viernes 8:50 a.m a 9:45 a.m</td>
</tr>
<tr>
    <td>17</td>
    <td>803</td>
    <td>11</td>
    <td>Diana Carolina Pulido Suarez</td>
    <td>Viernes 11:10 a.m a 12:05 p.m</td>
</tr>
<tr>
    <td>18</td>
    <td>804</td>
    <td>40</td>
    <td>Juan Pablo Jimenez Garzón</td>
    <td>Martes 11:10 a.m a 12:05 p.m</td>
</tr>
<tr>
    <td>19</td>
    <td>805</td>
    <td>6</td>
    <td>Viviana Pineda</td>
    <td>Jueves 8:50 a.m a 9:45 a.m</td>
</tr>
<tr>
    <td>20</td>
    <td>806</td>
    <td>30</td>
    <td>Edgar Augusto Rojas Chiquiza</td>
    <td>Viernes 11:10 a.m a 12:05 p.m</td>
</tr>