<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">15</th>
    <td class="border border-blue-950 px-4 py-2">801</td>
    <td class="border border-blue-950 px-4 py-2">4</td>
    <td class="border border-blue-950 px-4 py-2">Marta Isabel Gomez Caro</td>
    <td class="border border-blue-950 px-4 py-2">Miercoles 8:50 a.m a 9:45 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">16</th>
    <td class="border border-blue-950 px-4 py-2">802</td>
    <td class="border border-blue-950 px-4 py-2">14</td>
    <td class="border border-blue-950 px-4 py-2">Claudia Patricia Baranza Rincón</td>
    <td class="border border-blue-950 px-4 py-2">Viernes 8:50 a.m a 9:45 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">17</th>
    <td class="border border-blue-950 px-4 py-2">803</td>
    <td class="border border-blue-950 px-4 py-2">11</td>
    <td class="border border-blue-950 px-4 py-2">Diana Carolina Pulido Suarez</td>
    <td class="border border-blue-950 px-4 py-2">Viernes 11:10 a.m a 12:05 p.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">18</th>
    <td class="border border-blue-950 px-4 py-2">804</td>
    <td class="border border-blue-950 px-4 py-2">40</td>
    <td class="border border-blue-950 px-4 py-2">Juan Pablo Jimenez Garzón</td>
    <td class="border border-blue-950 px-4 py-2">Martes 11:10 a.m a 12:05 p.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">19</th>
    <td class="border border-blue-950 px-4 py-2">805</td>
    <td class="border border-blue-950 px-4 py-2">6</td>
    <td class="border border-blue-950 px-4 py-2">Viviana Pineda</td>
    <td class="border border-blue-950 px-4 py-2">Jueves 8:50 a.m a 9:45 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">20</th>
    <td class="border border-blue-950 px-4 py-2">806</td>
    <td class="border border-blue-950 px-4 py-2">30</td>
    <td class="border border-blue-950 px-4 py-2">Edgar Augusto Rojas Chiquiza</td>
    <td class="border border-blue-950 px-4 py-2">Viernes 11:10 a.m a 12:05 p.m</td>
</tr>