<tr>
    <td>31</td>
    <td>1101</td>
    <td>10</td>
    <td>Diana Marcela Ortiz Torres</td>
    <td>Jueves 8:50 a.m a 9:45 a.m</td>
</tr>
<tr>
    <td>32</td>
    <td>1102</td>
    <td>8</td>
    <td>Leonard Diaz Garcia</td>
    <td>Jueves 10:15 a.m a 11:10 a.m</td>
</tr>
<tr>
    <td>33</td>
    <td>1103</td>
    <td>36</td>
    <td>Amparo Esther Beltran Velásquez</td>
    <td>Miercoles 10:15 a.m a 11:10 a.m</td>
</tr>
<tr>
    <td>34</td>
    <td>1104</td>
    <td>Torreon</td>
    <td>Nohora Lucila Lopez Urrea</td>
    <td>Miercoles 8:50 a.m a 9:45 a.m</td>
</tr>
<tr>
    <td>35</td>
    <td>1105</td>
    <td>2</td>
    <td>Tatiana Maravelias Cortés</td>
    <td>Jueves 7:55 a.m a 8:50 a.m</td>
</tr>