<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">31</th>
    <td class="border border-blue-950 px-4 py-2">1101</td>
    <td class="border border-blue-950 px-4 py-2">10</td>
    <td class="border border-blue-950 px-4 py-2">Diana Marcela Ortiz Torres</td>
    <td class="border border-blue-950 px-4 py-2">Jueves 8:50 a.m a 9:45 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">32</th>
    <td class="border border-blue-950 px-4 py-2">1102</td>
    <td class="border border-blue-950 px-4 py-2">8</td>
    <td class="border border-blue-950 px-4 py-2">Leonard Diaz Garcia</td>
    <td class="border border-blue-950 px-4 py-2">Jueves 10:15 a.m a 11:10 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">33</th>
    <td class="border border-blue-950 px-4 py-2">1103</td>
    <td class="border border-blue-950 px-4 py-2">36</td>
    <td class="border border-blue-950 px-4 py-2">Amparo Esther Beltran Velásquez</td>
    <td class="border border-blue-950 px-4 py-2">Miercoles 10:15 a.m a 11:10 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">34</th>
    <td class="border border-blue-950 px-4 py-2">1104</td>
    <td class="border border-blue-950 px-4 py-2">Torreon</td>
    <td class="border border-blue-950 px-4 py-2">Nohora Lucila Lopez Urrea</td>
    <td class="border border-blue-950 px-4 py-2">Miercoles 8:50 a.m a 9:45 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">35</th>
    <td class="border border-blue-950 px-4 py-2">1105</td>
    <td class="border border-blue-950 px-4 py-2">2</td>
    <td class="border border-blue-950 px-4 py-2">Tatiana Maravelias Cortés</td>
    <td class="border border-blue-950 px-4 py-2">Jueves 7:55 a.m a 8:50 a.m</td>
</tr>