<tr>
    <td>36</td>
    <td>Jefe Nivel de 6°</td>
    <td>Fariyised Prieto Prieto</td>
    <td>Miercoles 10:15 a.m a 11:10 a.m</td>
</tr>
<tr>
    <td>37</td>
    <td>Jefe Nivel de 7°</td>
    <td>Orlando Nieves Herrera</td>
    <td>Jueves 7:55 a.m a 8:50 a.m</td>
</tr>
<tr>
    <td>38</td>
    <td>Jefe Nivel de 8°</td>
    <td>Juelieth Marcela Cadena</td>
    <td>Martes 7:55 a.m a 8:50 a.m</td>
</tr>
<tr>
    <td>39</td>
    <td>Jefe Nivel de 9°</td>
    <td>Esperanza Beltrán</td>
    <td>Viernes 7:55 a.m a 8:50 a.m</td>
</tr>
<tr>
    <td>40</td>
    <td>Jefe Nivel de 10°</td>
    <td>César Oswaldo Rodrigyez</td>
    <td>Jueves 11:10 a.m a 12:05 p.m</td>
</tr>
<tr>
    <td>41</td>
    <td>Jefe Nivel de 11°</td>
    <td>Jhonny Urueña Avila</td>
    <td>Lunes 8:50 a.m a 9:45 a.m</td>
</tr>
<tr>
    <td>42</td>
    <td></td>
    <td>Erika Gonzalez Trujillo</td>
    <td>Lunes 11:10 a.m a 12:05 p.m</td>
</tr>
<tr>
    <td>43</td>
    <td></td>
    <td>Edgar Javier Quevedo Buitrago</td>
    <td>Jueves 7:55 a.m a 8:50 a.m</td>
</tr>
<tr>
    <td>44</td>
    <td></td>
    <td>Sandra Yasmin Gutierrez Parada</td>
    <td>Lunes 11:10 a.m a 12:05</td>
</tr>
<tr>
    <td>45</td>
    <td></td>
    <td>Omar Rodriguez Rueda</td>
    <td>Miercoles 7:55 a.m a 8:50 a.m</td>
</tr>
<tr>
    <td>46</td>
    <td></td>
    <td>Héctor Mauricio Porras Wilches</td>
    <td>Miercoles 10:15 a.m a 11:10 a.m</td>
</tr>
<tr>
    <td>47</td>
    <td></td>
    <td>Jimmy Alejandro Torres Aranzales</td>
    <td>Miercoles 7:55 a.m a 8:50 a.m</td>
</tr>
<tr>
    <td>Rectora</td>
    <td>Sandra Rocio Suavita Menjura</td>
    <td>Martes y Jueves de 7:00 a 9:00 a.m</td>
</tr>
<tr>
    <td>Coordinadora 10° y 11°</td>
    <td>Patricia Forero Poveda</td>
    <td>Martes y Jueves de 7:30 a 9:30 a.m</td>
</tr>
<tr>
    <td>Coordinador 6° y 9°</td>
    <td>Luz Ángela Cruz Morales</td>
    <td>Martes y Jueves de 7:30 a 9:30 a.m</td>
</tr>
<tr>
    <td>Coordinadora 7° y 8°</td>
    <td>José de Jesús Murcia</td>
    <td>Lunes y Viernes de 7:30 a 9:30 a.m</td>
</tr>
<tr>
    <td>Coordinadora 10° y 11°</td>
    <td>Ilma Ruth García Arévalo</td>
    <td>Lunes y Miercoles de 7:30 a 9:30 a.m</td>
</tr>
