<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">36</th>
    <td class="border border-blue-950 px-4 py-2">Jefe Nivel de 6°</td>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Fariyised Prieto Prieto</td>
    <td class="border border-blue-950 px-4 py-2">Miercoles 10:15 a.m a 11:10 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">37</th>
    <td class="border border-blue-950 px-4 py-2">Jefe Nivel de 7°</td>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Orlando Nieves Herrera</td>
    <td class="border border-blue-950 px-4 py-2">Jueves 7:55 a.m a 8:50 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">38</th>
    <td class="border border-blue-950 px-4 py-2">Jefe Nivel de 8°</td>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Juelieth Marcela Cadena</td>
    <td class="border border-blue-950 px-4 py-2">Martes 7:55 a.m a 8:50 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">39</th>
    <td class="border border-blue-950 px-4 py-2">Jefe Nivel de 9°</td>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Esperanza Beltrán</td>
    <td class="border border-blue-950 px-4 py-2">Viernes 7:55 a.m a 8:50 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">40</th>
    <td class="border border-blue-950 px-4 py-2">Jefe Nivel de 10°</td>
    <td colspan="2" class="border border-blue-950 px-4 py-2">César Oswaldo Rodrigyez</td>
    <td class="border border-blue-950 px-4 py-2">Jueves 11:10 a.m a 12:05 p.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">41</th>
    <td class="border border-blue-950 px-4 py-2">Jefe Nivel de 11°</td>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Jhonny Urueña Avila</td>
    <td class="border border-blue-950 px-4 py-2">Lunes 8:50 a.m a 9:45 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">42</th>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Erika Gonzalez Trujillo</td>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Lunes 11:10 a.m a 12:05 p.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">43</th>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Edgar Javier Quevedo Buitrago</td>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Jueves 7:55 a.m a 8:50 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">44</th>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Sandra Yasmin Gutierrez Parada</td>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Lunes 11:10 a.m a 12:05</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">45</th>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Omar Rodriguez Rueda</td>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Miercoles 7:55 a.m a 8:50 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">46</th>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Héctor Mauricio Porras Wilches</td>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Miercoles 10:15 a.m a 11:10 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">47</th>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Jimmy Alejandro Torres Aranzales</td>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Miercoles 7:55 a.m a 8:50 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th colspan="2" class="border border-blue-950 px-4 py-2">Rectora</th>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Sandra Rocio Suavita Menjura</td>
    <td class="border border-blue-950 px-4 py-2">Martes y Jueves de 7:00 a 9:00 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th colspan="2" class="border border-blue-950 px-4 py-2">Coordinadora 10° y 11°</th>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Patricia Forero Poveda</td>
    <td class="border border-blue-950 px-4 py-2">Martes y Jueves de 7:30 a 9:30 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th colspan="2" class="border border-blue-950 px-4 py-2">Coordinador 6° y 9°</th>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Luz Ángela Cruz Morales</td>
    <td class="border border-blue-950 px-4 py-2">Martes y Jueves de 7:30 a 9:30 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th colspan="2" class="border border-blue-950 px-4 py-2">Coordinadora 7° y 8°</th>
    <td colspan="2" class="border border-blue-950 px-4 py-2">José de Jesús Murcia</td>
    <td class="border border-blue-950 px-4 py-2">Lunes y Viernes de 7:30 a 9:30 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th colspan="2" class="border border-blue-950 px-4 py-2">Coordinadora 10° y 11°</th>
    <td colspan="2" class="border border-blue-950 px-4 py-2">Ilma Ruth García Arévalo</td>
    <td class="border border-blue-950 px-4 py-2">Lunes y Miercoles de 7:30 a 9:30 a.m</td>
</tr>
