<tr>
    <td>21</td>
    <td>901</td>
    <td>19</td>
    <td>Mireya Diaz Vega</td>
    <td>Jueves 7:00 a.m a 7:55 a.m</td>
</tr>
<tr>
    <td>22</td>
    <td>902</td>
    <td>42</td>
    <td>Maria Olga Galindo Rojas</td>
    <td>Jueves 8:50 a.m a 9:45 a.m</td>
</tr>
<tr>
    <td>23</td>
    <td>903</td>
    <td>Tec. C</td>
    <td>John Fredy Gonzalez</td>
    <td>Viernes 7:55 a.m a 8:50 a.m</td>
</tr>
<tr>
    <td>24</td>
    <td>904</td>
    <td>12</td>
    <td>Sandra Cecilia Rodriguez Sánchez</td>
    <td>Miercoles 8:50 a.m a 9:45 a.m</td>
</tr>
<tr>
    <td>25</td>
    <td>905</td>
    <td>16-L.Ing.</td>
    <td>Ivonne Carolina Triana</td>
    <td>Martes 10:15 a.m a 11:10 a.m</td>
</tr>