<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">21</th>
    <td class="border border-blue-950 px-4 py-2">901</td>
    <td class="border border-blue-950 px-4 py-2">19</td>
    <td class="border border-blue-950 px-4 py-2">Mireya Diaz Vega</td>
    <td class="border border-blue-950 px-4 py-2">Jueves 7:00 a.m a 7:55 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">22</th>
    <td class="border border-blue-950 px-4 py-2">902</td>
    <td class="border border-blue-950 px-4 py-2">42</td>
    <td class="border border-blue-950 px-4 py-2">Maria Olga Galindo Rojas</td>
    <td class="border border-blue-950 px-4 py-2">Jueves 8:50 a.m a 9:45 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">23</th>
    <td class="border border-blue-950 px-4 py-2">903</td>
    <td class="border border-blue-950 px-4 py-2">Tec. C</td>
    <td class="border border-blue-950 px-4 py-2">John Fredy Gonzalez</td>
    <td class="border border-blue-950 px-4 py-2">Viernes 7:55 a.m a 8:50 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">24</th>
    <td class="border border-blue-950 px-4 py-2">904</td>
    <td class="border border-blue-950 px-4 py-2">12</td>
    <td class="border border-blue-950 px-4 py-2">Sandra Cecilia Rodriguez Sánchez</td>
    <td class="border border-blue-950 px-4 py-2">Miercoles 8:50 a.m a 9:45 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">25</th>
    <td class="border border-blue-950 px-4 py-2">905</td>
    <td class="border border-blue-950 px-4 py-2">16-L.Ing.</td>
    <td class="border border-blue-950 px-4 py-2">Ivonne Carolina Triana</td>
    <td class="border border-blue-950 px-4 py-2">Martes 10:15 a.m a 11:10 a.m</td>
</tr>