<tr>
    <td>8</td>
    <td>701</td>
    <td>15</td>
    <td>Pablo Eduardo Castaño</td>
    <td>Jueves 7:55 a.m a 8:50 a.m</td>
</tr>
<tr>
    <td>9</td>
    <td>702</td>
    <td>37</td>
    <td>Ana Delia Romero Criollo</td>
    <td>Miercoles 10:15 a.m a 11:10 a.m</td>
</tr>
<tr>
    <td>10</td>
    <td>703</td>
    <td>9</td>
    <td>Paula Valeria Fuentes</td>
    <td>Jueves 7:55 a.m a 8:50 a.m</td>
</tr>
<tr>
    <td>11</td>
    <td>704</td>
    <td>7</td>
    <td>Carlos Eduardo Pinzon Pinzon</td>
    <td>Miercoles 8:50 a.m a 9:45 a.m</td>
</tr>
<tr>
    <td>12</td>
    <td>705</td>
    <td>26</td>
    <td>Joaquin Hernan Rueda Torres</td>
    <td>Martes 8:50 a.m a 9:45 a.m</td>
</tr>
<tr>
    <td>13</td>
    <td>706</td>
    <td>38</td>
    <td>Elizabeth Manzano Rodriguez</td>
    <td>Miercoles 10:15 a.m a 11:10 a.m</td>
</tr>
<tr>
    <td>14</td>
    <td>707</td>
    <td>Bibliot.</td>
    <td>Javier Ricardo Ocampo Rodriguez</td>
    <td>Jueves 11:10 a.m a 12:05 p.m</td>
</tr>