<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">8</th>
    <td class="border border-blue-950 px-4 py-2">701</td>
    <td class="border border-blue-950 px-4 py-2">15</td>
    <td class="border border-blue-950 px-4 py-2">Pablo Eduardo Castaño</td>
    <td class="border border-blue-950 px-4 py-2">Jueves 7:55 a.m a 8:50 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">9</th>
    <td class="border border-blue-950 px-4 py-2">702</td>
    <td class="border border-blue-950 px-4 py-2">37</td>
    <td class="border border-blue-950 px-4 py-2">Ana Delia Romero Criollo</td>
    <td class="border border-blue-950 px-4 py-2">Miercoles 10:15 a.m a 11:10 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">10</th>
    <td class="border border-blue-950 px-4 py-2">703</td>
    <td class="border border-blue-950 px-4 py-2">9</td>
    <td class="border border-blue-950 px-4 py-2">Paula Valeria Fuentes</td>
    <td class="border border-blue-950 px-4 py-2">Jueves 7:55 a.m a 8:50 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">11</th>
    <td class="border border-blue-950 px-4 py-2">704</td>
    <td class="border border-blue-950 px-4 py-2">7</td>
    <td class="border border-blue-950 px-4 py-2">Carlos Eduardo Pinzon Pinzon</td>
    <td class="border border-blue-950 px-4 py-2">Miercoles 8:50 a.m a 9:45 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">12</th>
    <td class="border border-blue-950 px-4 py-2">705</td>
    <td class="border border-blue-950 px-4 py-2">26</td>
    <td class="border border-blue-950 px-4 py-2">Joaquin Hernan Rueda Torres</td>
    <td class="border border-blue-950 px-4 py-2">Martes 8:50 a.m a 9:45 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">13</th>
    <td class="border border-blue-950 px-4 py-2">706</td>
    <td class="border border-blue-950 px-4 py-2">38</td>
    <td class="border border-blue-950 px-4 py-2">Elizabeth Manzano Rodriguez</td>
    <td class="border border-blue-950 px-4 py-2">Miercoles 10:15 a.m a 11:10 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">14</th>
    <td class="border border-blue-950 px-4 py-2">707</td>
    <td class="border border-blue-950 px-4 py-2">Bibliot.</td>
    <td class="border border-blue-950 px-4 py-2">Javier Ricardo Ocampo Rodriguez</td>
    <td class="border border-blue-950 px-4 py-2">Jueves 11:10 a.m a 12:05 p.m</td>
</tr>