<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">Sal칩n</th>
    <th class="border border-blue-950 px-4 py-2">Grado</th>
    <th class="border border-blue-950 px-4 py-2">Aula</th>
    <th class="border border-blue-950 px-4 py-2">Docente Director de grupo</th>
    <th class="border border-blue-950 px-4 py-2">Atenci칩n a Padres</th>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">1</td>
    <td class="border border-blue-950 px-4 py-2">601</td>
    <td class="border border-blue-950 px-4 py-2">41</td>
    <td class="border border-blue-950 px-4 py-2">Ruth Esperanza Murcia Carrillo</td>
    <td class="border border-blue-950 px-4 py-2">Miercoles 7:00 a.m a 7:55 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">2</th>
    <td class="border border-blue-950 px-4 py-2">602</td>
    <td class="border border-blue-950 px-4 py-2">1</td>
    <td class="border border-blue-950 px-4 py-2">Jimmy Roger Cavieles Rojas</td>
    <td class="border border-blue-950 px-4 py-2">Viernes 11:10 a.m a 12:05 p.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">3</th>
    <td class="border border-blue-950 px-4 py-2">603</td>
    <td class="border border-blue-950 px-4 py-2">3</td>
    <td class="border border-blue-950 px-4 py-2">Crisanto Ridriguez Murcia</td>
    <td class="border border-blue-950 px-4 py-2">Jueves 7:55 a.m a 8:50 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">4</th>
    <td class="border border-blue-950 px-4 py-2">604</td>
    <td class="border border-blue-950 px-4 py-2">20</td>
    <td class="border border-blue-950 px-4 py-2">Marco Tulio Jimenez</td>
    <td class="border border-blue-950 px-4 py-2">Viernes 8:50 a.m a 9:45 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">5</th>
    <td class="border border-blue-950 px-4 py-2">605</td>
    <td class="border border-blue-950 px-4 py-2">Tec.B</td>
    <td class="border border-blue-950 px-4 py-2">Nestor jairo Suarez Rojas</td>
    <td class="border border-blue-950 px-4 py-2">Miercoles 10:15 a.m a 11:10 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">6</th>
    <td class="border border-blue-950 px-4 py-2">606</td>
    <td class="border border-blue-950 px-4 py-2">25</td>
    <td class="border border-blue-950 px-4 py-2">Sandra Ria침o Quintana</td>
    <td class="border border-blue-950 px-4 py-2">Martes 7:55 a.m a 8:50 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">7</th>
    <td class="border border-blue-950 px-4 py-2">607</td>
    <td class="border border-blue-950 px-4 py-2">5</td>
    <td class="border border-blue-950 px-4 py-2">Diana Vel치squez</td>
    <td class="border border-blue-950 px-4 py-2">Jueves 11:10 a.m a 12:05 p.m</td>
</tr>