<tr>
    <td scope="col">Sal칩n</td>
    <td scope="col">Grado</td>
    <td scope="col">Aula</td>
    <td scope="col">Docente Director de grupo</td>
    <td scope="col">Atenci칩n a Padres</td>
</tr>
<tr>
    <td>1</td>
    <td>601</td>
    <td>41</td>
    <td>Ruth Esperanza Murcia Carrillo</td>
    <td>Miercoles 7:00 a.m a 7:55 a.m</td>
</tr>
<tr>
    <td>2</td>
    <td>602</td>
    <td>1</td>
    <td>Jimmy Roger Cavieles Rojas</td>
    <td>Viernes 11:10 a.m a 12:05 p.m</td>
</tr>
<tr>
    <td>3</td>
    <td>603</td>
    <td>3</td>
    <td>Crisanto Ridriguez Murcia</td>
    <td>Jueves 7:55 a.m a 8:50 a.m</td>
</tr>
<tr>
    <td>4</td>
    <td>604</td>
    <td>20</td>
    <td>Marco Tulio Jimenez</td>
    <td>Viernes 8:50 a.m a 9:45 a.m</td>
</tr>
<tr>
    <td>5</td>
    <td>605</td>
    <td>Tec.B</td>
    <td>Nestor jairo Suarez Rojas</td>
    <td>Miercoles 10:15 a.m a 11:10 a.m</td>
</tr>
<tr>
    <td>6</td>
    <td>606</td>
    <td>25</td>
    <td>Sandra Ria침o Quintana</td>
    <td>Martes 7:55 a.m a 8:50 a.m</td>
</tr>
<tr>
    <td>7</td>
    <td>607</td>
    <td>5</td>
    <td>Diana Vel치squez</td>
    <td>Jueves 11:10 a.m a 12:05 p.m</td>
</tr>