<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">26</th>
    <td class="border border-blue-950 px-4 py-2">1001</td>
    <td class="border border-blue-950 px-4 py-2">39</td>
    <td class="border border-blue-950 px-4 py-2">Nery Mabel Ballen</td>
    <td class="border border-blue-950 px-4 py-2">Martes 8:50 a.m a 9:45 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">27</th>
    <td class="border border-blue-950 px-4 py-2">1002</td>
    <td class="border border-blue-950 px-4 py-2">13</td>
    <td class="border border-blue-950 px-4 py-2">Maria Antonia Lombo</td>
    <td class="border border-blue-950 px-4 py-2">Martes 7:55 a.m a 8:50 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">28</th>
    <td class="border border-blue-950 px-4 py-2">1003</td>
    <td class="border border-blue-950 px-4 py-2">17</td>
    <td class="border border-blue-950 px-4 py-2">Rafael Armando Beltrán</td>
    <td class="border border-blue-950 px-4 py-2">Jueves 7:55 a.m a 8:50 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">29</th>
    <td class="border border-blue-950 px-4 py-2">1004</td>
    <td class="border border-blue-950 px-4 py-2">18</td>
    <td class="border border-blue-950 px-4 py-2">Sonia Elena Gómez Carrillo</td>
    <td class="border border-blue-950 px-4 py-2">Miercoles 8:50 a.m a 9:45 a.m</td>
</tr>
<tr class="text-center text-sm md:text-base">
    <th class="border border-blue-950 px-4 py-2">30</th>
    <td class="border border-blue-950 px-4 py-2">1005</td>
    <td class="border border-blue-950 px-4 py-2">24</td>
    <td class="border border-blue-950 px-4 py-2">Luz Mary Chiquiza Valbuena</td>
    <td class="border border-blue-950 px-4 py-2">Miercoles 8:50 a.m a 9:45 a.m</td>
</tr>