<tr>
    <td>26</td>
    <td>1001</td>
    <td>39</td>
    <td>Nery Mabel Ballen</td>
    <td>Martes 8:50 a.m a 9:45 a.m</td>
</tr>
<tr>
    <td>27</td>
    <td>1002</td>
    <td>13</td>
    <td>Maria Antonia Lombo</td>
    <td>Martes 7:55 a.m a 8:50 a.m</td>
</tr>
<tr>
    <td>28</td>
    <td>1003</td>
    <td>17</td>
    <td>Rafael Armando Beltrán</td>
    <td>Jueves 7:55 a.m a 8:50 a.m</td>
</tr>
<tr>
    <td>29</td>
    <td>1004</td>
    <td>18</td>
    <td>Sonia Elena Gómez Carrillo</td>
    <td>Miercoles 8:50 a.m a 9:45 a.m</td>
</tr>
<tr>
    <td>30</td>
    <td>1005</td>
    <td>24</td>
    <td>Luz Mary Chiquiza Valbuena</td>
    <td>Miercoles 8:50 a.m a 9:45 a.m</td>
</tr>